# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Temp directories
.temp
.tmp

# Uploaded files
uploads/

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 